.chartDiv{
    top: 132px;
    /*left: 830px;*/
    /*height: 614px;*/
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 5px;

}
.formDiv{
    /*left: 130px;*/
    top: 132px;
    /*height: 614px;*/
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 5px;
}
.subText{
    color: #757575;
}
.chartSmallDivs{
    padding: 15px;
}
.netSalDiv{
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 12px;
    margin-right: 2px;
}
.contPara{
    margin-bottom:1px;
    margin-top:25px
}

